/* Typography Classes */
.font-montserrat {
    font-family: $font-montserrat;
}

.font-lato {
    font-family: $font-lato;
}

.font-open-sans {
    font-family: $font-open-sans;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}